.container {
    max-width: 500px;
    margin-top: 150px;
}

#homepage-nav {
    background-color: rgb(200, 184, 184);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    padding-top: 20px;

}